{% extends 'base.html.twig' %}
{% block title %}PANIER{% endblock %}
{% block main %}
    {% if panier is not empty %}
        {% for msg in app.flashes('delete') %}
            <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
                <strong> {{ msg }} </strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        <div class="panier-tille">
            <h2 class="text-center"> Finalisez vos achats </h2>
        </div>
        <section class="panier-container">
            <div class="container tableau mt-5">
                <table class="table text-center">
                    <thead>
                    <tr>
                        <th scope="col">Produit</th>
                        <th scope="col">Quantité</th>
                        <th scope="col">Prix</th>
                        <th scope="col">  </th>
                    </tr>
                    </thead>
                    <tbody class="table">
                    {% for p in panier %}
                        <tr>
                            <th><img src="{{ asset('images/' ~ p.product.image) }}" alt="{{ p.product.name }}" style="height: 50px; width: 50px"></th>
                            <th scope="row"> {{ p.product.name }}</th>
                            <td>{{ p.qte }}</td>
                            <td>{{ (p.product.price * p.qte) | format_currency('EUR', locale='fr')}}</td>
                            <td>
                                <div class="row d-flex w-50">
                                    <div class="col-sm-6 d-flex justify-content-center">
                                        <a href="{{ path('panier_add',{ id : p.product.id, origin : app.request.attributes.get('_route') } ) }}"
                                                class=" btn btn-primary"><i class="bi bi-plus-circle"></i></a>
                                    </div>
                                    <div class="col-sm-6 d-flex justify-content-center">
                                        <a href="{{ path('panier_delete',{ id : p.product.id, origin : app.request.attributes.get('_route') } ) }}"
                                                class=" btn btn-danger"><i class=" bi bi-trash"></i></a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}

                    <tr>
                        <td colspan="3" class="text-center">TOTAL: {{ total | format_currency('EUR', locale='fr') }} </td>
                        <td colspan="3" class="text-center"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <a href="{{ path('buy') }}" class="btn btn-success w-25">PAYER</a>
        </section>
    {% else %}

        <section>
            <div class="container">
                <h2>
                    Votre panier est vide
                </h2>
            </div>
        </section>
    {% endif %}

{% endblock %}