{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block main %}
    <section>
        <div class="container">
        {{ form_start(registrationForm) }}
        <h1>Inscription </h1>
        <div class="row">
            <div class="col-sm-6">{{ form_row(registrationForm.username, {
                    label: 'Pseudo'
                }) }}</div>
            <div class="col-sm-6">  {{ form_row(registrationForm.plainPassword, {
                    label: 'Mot de Passe'
                }) }} </div>
        </div>





        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn ">Register</button>
        {{ form_end(registrationForm) }}
        </div>
    </section>



{% endblock %}
