{% extends 'profil/index.html.twig' %}

{% block content %}
        {{ form_start(form) }}
        <div class="row">
            <div class="col-sm-6">{{ form_row(form.Nom, {
                    label: 'Nom'
                }) }}</div>
            <div class="col-sm-6">  {{ form_row(form.Prenom, {
                    label: 'Prenom'
                }) }} </div>
        </div>
        <div class="row">
            <div class="col-sm-6"> {{ form_row(form.email) }}</div>
        </div>

        <h3>Coordonnées de Livraison</h3>

        <div class="row">
            <div class="col-sm-4"> {{ form_row(form.adresse, {
                    label: 'Adresse'
                }) }}</div>
            <div class="col-sm-4"> {{ form_row(form.ville, {
                    label: 'Ville'
                }) }}</div>

            <div class="col-sm-4"> {{ form_row(form.CP, {
                    label: 'Code Postale'
                }) }}</div>

    </div>

        <button type="submit" class="btn btn-primary w-100 mb-4 mt-5" style="text-align: center"> MODIFIER </button>


        {{ form_end(form) }}
{% endblock %}