{% extends 'base.html.twig' %}

{% block title %} PROFIL {% endblock %}
{% block nav %} {% endblock %}

{% block main %}
    <section class="profil">
        <div class="container"></div>
        <div class="row">
            <div class="col-md-4">

        <ul>
            <li><a href="{{ path('app_information', {id: app.user.id})}}">MES INFORMATIONS</a></li>
            <li><a href="#">MES COMMANDES</a></li>
            <li><a href="{{ path('home') }}">HOME</a></li>
            <li><a href="{{ path('info') }}">CONTACT</a></li>
            <li><a href="{{ path('casque') }}">BOUTIQUE</a></li>
            <li><a href="{{ path('panier') }}">PANIER</a></li>
            <li><a href="{{ path('app_logout') }}">DÉCONNEXION</a></li>
        </ul>
        </div>
            <div class="col-md-2 w-100">
        <div class="compte">
            <h3><p> BIENVENU SUR VOTRE ESPACE CLIENT</p></h3>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-8 d-flex mt-5">
        <div class="profil-content">
            {% block content %}
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Last Order</th>
                        <th scope="col">Reference</th>
                        <th scope="col">View</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    </tbody>

                </table>
            {% endblock %}
        </div>
        </div>
        </div>
        </div>
        </div>

    </section>
{% endblock %}
