<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %} MÉTÉORE {% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/navbar.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/home.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
    {% block css %}{% endblock %}
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Flex:opsz,wght@8..144,100;8..144,300;8..144,500;8..144,700;8..144,900&display=swap"
            rel="stylesheet"
    />

</head>
<body>
<header>
    {% block nav %}


        <nav>
            <a href="#" class="nav-icon" aria-label="visit homepage" aria-current="page">
                <img src="{{ asset('ressources/logo.JPG') }}" alt="chat icon">
                <!--<span>EverChat</span> -->
            </a>

            <div class="main-navlinks">
                <button class="hamburger" type="button" aria-label="Toggle navigation" aria-expanded="false">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <div class="navlinks-container">
                    <a href="{{ path('home') }}" style="color: #F8760EBF ">HOME</a>
                    <a href="{{ path('info') }}" style="color: white;">ABOUT US</a>
                    <div class="drop">
                        <a href="{{ path('casque') }}">SHOP</a>
                        <div class="content">
                            <a href="{{ path('casque') }}">CASQUES</a>
                            <a href="{{ path('acc') }}">ACCESSOIRES</a>
                            <a href="{{ path('epauliere') }}">ÉPAULIÈRES</a>
                            <a href={{ path('crampons') }}>CRAMPONS</a>
                        </div>
                    </div>
                    <form class="d-flex" action="{{ path('panier') }}" method="POST">
                        <button class="btn btn-light" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                        </button>
                    </form>
                </div>
            </div>
            <div class="nav-authentication">
                <a href="{{ path('profil') }}" class="sign-user" aria-label="Sign in page">
                    <img src="{{ asset('ressources/user.svg') }}" alt="user-icon">
                </a>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                    <div class="sign-btns">
                        <a href="{{ path('profil') }}" class="btn btn-close-white"><i class=" bx bxs-user"></i>
                            {{ app.user.nom }}</a>
                        <a href="{{ path('app_logout') }}" class="btn btn-danger">DÉCONNEXION</a>


                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('admin') }}" class="btn btn-info">ADMIN</a>
                        {% endif %}

                    </div>
                {% else %}
                    <div class="sign-btns">
                        <button id="Connexion" type="button">CONNEXION</button>

                        <button id="Inscription" type="button">INSCRIPTION</button>
                    </div>
                {% endif %}
            </div>
        </nav>
    {% endblock %}
</header>

<main>
    {% block main %} {% endblock %}
</main>
{% block footer %}
<footer class="footer">
    <aside class="us">
        <p>Contact US </p>
        <p>01 01 01 01 01</p>
        <p>météore@admin.fr</p>
        <p>9 rue de Rosny, Fontenay-sous-bois, 94120</p>
    </aside>

    <aside class="mentions">
    <a href="#">&copy; Météore de Fontenay</a>
    <a href="{{ asset('img/mentions/Votre-document.jpg') }}" target="_blank">Mentions Légale</a>
    <a href="{{ asset('img/mentions/CGU.jpg') }}" target="_blank">CGU</a>
    <a href="{{ asset('img/mentions/CGU.jpg') }}" target="_blank">CGV</a>
    </aside>

</footer>

{% endblock %}
<script src="{{ asset('js/script.js') }}"></script>
<script src="{{ asset('js/bootstrap.js') }}"></script>
<script>
    document.getElementById("Connexion").onclick = function () {
        location.href = "{{ path('connexion') }}";
    };

    document.getElementById("Inscription").onclick = function () {
        location.href = "{{ path('inscription') }}";
    };

    document.getElementById("déco").onclick = function () {
        location.href = "{{ path('app_logout') }}";
    };

    document.getElementById("admin").onclick = function () {
        location.href = "{{ path('admin') }}";
    };
</script>
{% block js %}{% endblock %}
</body>
</html>
